.addToSavedContainer {
    color: #000;
    margin-bottom: -.5rem;
}

.addToSavedText {
    border: .0625rem solid #656560;
    color: #416894;
    padding: .125rem;
    margin-top: .5rem;
    background-color: #C5C4BC;
    border-radius: .125rem;
    font-size: .75rem;
}

.addToSavedText:hover {
    cursor: pointer;
    /* font-weight: bold; */
    color: #f1f0eb;
    background-color: #416894;
}

.savedText {
    border-bottom: 1px solid #c3c1b4;
    padding-bottom: .5rem
}

.savedTitle {
    text-decoration: none;
    /* color: #7e3eb3; */
    color: #4974a5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 1rem;
    padding: 0 2rem;
}

.savedSource {
    text-decoration: none;
    /* color: #7e3eb3; */
    color: #4974a5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-size: .75rem;
    padding: 0 2rem;
    padding-top: .5rem;
    font-weight: 300;
}

.savedImage {
    max-width: 75%;
    border-radius: .25rem;
    align-items: center;
    text-align: center;
}

.savedTitle:hover {
    text-decoration: underline;
}

.savedSource:hover {
    text-decoration: underline;
}

