.addToSavedContainer {
    color: #000;
}

.addToSavedText {
    border: 3px solid #C3C1B4;
    color: #7e3eb3;
    padding: .5rem;
}

.addToSavedText:hover {
    cursor: pointer;
    font-weight: bolder;
    color: #4b256b;
}