/* h2 {
    font-size: 16px;
    color: #7e3eb3;
} */

.articleTitle{
    /* font-size: 1rem; */
}


.contentImage {
    max-width: 75%;
    border-radius: .25rem;
    align-items: center;
    text-align: center;
}

.articleTitle {
    text-decoration: none;
    /* color: #7e3eb3; */
    color: #416894;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 1rem;
    padding-left: 2rem;
    letter-spacing: .03125rem;
}

.articleSource {
        text-decoration: none;
    /* color: #7e3eb3; */
    color: #416894;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-size: .75rem;
    padding-left: 2rem;
    letter-spacing: .03125rem;
    font-weight: 300;
    padding-top: .5rem;
}

p {
    font-weight: bold;
}

.description {
    font-weight: 500;
    letter-spacing: .015625rem;
    word-wrap: break-word;
    text-align: left;
    padding: 1rem 0;
    max-width: 80%;
    font-size: .8rem;
    margin-bottom: -1rem;
}

.articleTitle:hover {
    /* font-weight: bolder; */
    /* color: #4b256b; */
    text-decoration: underline;
}

.articleSource:hover{
    text-decoration: underline;
}