/* h2 {
    font-size: 16px;
    color: #7e3eb3;
} */

.articleTitle{
    /* font-size: 1rem; */
}


.contentImage {
    max-width: 75%;
    border-radius: .25rem;
    align-items: center;
    text-align: center;
}

.articleTitle {
    text-decoration: none;
    /* color: #7e3eb3; */
    color: #4974a5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}

p {
    font-weight: bold;
}

.description {
    font-weight: bold;
    word-wrap: break-word;
    text-align: center;
    padding: 1rem 0;
    max-width: 80%;
    font-size: .8rem;
}

.articleTitle:hover {
    /* font-weight: bolder; */
    /* color: #4b256b; */
    text-decoration: underline;
}

