.logoutBtn {
    /* background-color: #e3e2d7; */
    color: #416894;
    font-size: 1rem;
    border: none;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    align-self: flex-start;
}

.logoutBtn:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #4b256b;
}