.signup-outermost-container {
    height: 75vh;
    width: 100vw;
}

.signup-form {
    height: 100%;
    /* padding-left: 10px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-input-container {
    width: 310px;
}

.name-label {
    margin-right: 59px;
}

.email-input-container {
    width: 310px;
}

.email-label {
    margin-right: 101px;
}

.password-input-container {
    width: 310px;
}

.password-label {
    margin-right: 70px;
}

.repeat-password-input-container {
    width: 310px;
}

.repeat-password-label {
    margin-right: 10px;
}