.deleteBtn {
    /* display: inline-block; */
    margin: 0 5px;
}

.editBtn {
    margin: 0 5px;
}

.interestForm {
    display: flex;
    flex-direction: row;
}

.viewInterests {
    border-bottom: 1px solid #c3c1b4;
    padding-bottom: .5rem;
    color: #416894;
}

.viewInterests:hover {
    /* font-weight: bolder;
    color: #4b256b; */
}

.viewInterests:hover {
    cursor: pointer;
    text-decoration: underline;
}