.titleContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.title {
    color: #7E3EB3;
    font-family: cursive;
}

.title:hover {
    font-weight: bolder;
    color: #582b7d;
}