body {
    /* max-width: 75%; */
}

.parent {
    display: flex;
    flex-direction: column;
    /* max-width: 75%; */
    align-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 auto;
}

/* .content {
} */

.gif, .article {
    /* max-width: 75%; */
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}



/* 
content 
    div 
    (
        div className="container"
        (
            article 
            (
                div className="content article"
                (
                    h2
                    img
                    p
                )

            )
            gif 
            (
                div className="content gif"
                (
                    img
                    a
                )
            )
        )
    )

*/