body {
    /* http://www.colorhunter.com/tag/newspaper/1 */
    /* background-color: #e3e2d7; */
    background-color: #f1f0eb;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

#root {
        display: grid;
        grid-template-areas:
        "navContainer navContainer navContainer"
        "titleContainer titleContainer titleContainer"
        "interests parent saved"
        "interests parent saved";
        grid-template-columns: 1fr 2fr 1fr;
        width: 100%;
        font-family: sans-serif;
        letter-spacing: .03125rem;
}

.parent {
    grid-area: parent;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #C3C1B4;
    align-self: center;
    padding: 0 5rem;
}

.navContainer {
    grid-area: navContainer;
    padding-bottom: 1rem;
    border-bottom: 1px solid #C3C1B4;
}

.titleContainer {
    grid-area: titleContainer;
}

.interests {
    grid-area: interests;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    margin-left: 2.5rem;
}

.weatherParent {
    grid-area: weather;
}

.saved {
    grid-area: saved;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 3px solid #c3c1b4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.content-container {
    display: flex;
    width: 66%;
    flex-direction: column;
    align-items: center;
    /* background-color: #ADACA0; */
    background-color: #cccbc1;
    border-radius: .25rem;
    margin: .5rem 0;
    padding-bottom: 1rem;
    overflow: hidden;
}

/* 
content 
    div 
    (
        div className="container"
        (
            article 
            (
                div className="content article"
                (
                    h2
                    img
                    p
                )

            )
            gif 
            (
                div className="content gif"
                (
                    img
                    a
                )
            )
        )
    )

*/