body {
    /* http://www.colorhunter.com/tag/newspaper/1 */
    background-color: #D9D7C9;
}

#root {
        display: grid;
        grid-template-areas:
        "navContainer navContainer navContainer"
        "interests parent parent"
        "interests parent parent";
        grid-template-columns: 20% 30% 30%;
}

.parent {
    grid-area: parent;
    display: flex;
    flex-direction: column;
    /* max-width: 40%; */
    margin: 0 auto;
}

.navContainer {
    grid-area: navContainer;
}

.interests {
    grid-area: interests;
    /* max-width: 30%; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ACAA9D;
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 1rem 1rem;
    box-shadow: 0px 0px 25px 5px #ab8860, inset 0px 0px 10px 7px #acaa9d;
    overflow: hidden;
}

/* 
content 
    div 
    (
        div className="container"
        (
            article 
            (
                div className="content article"
                (
                    h2
                    img
                    p
                )

            )
            gif 
            (
                div className="content gif"
                (
                    img
                    a
                )
            )
        )
    )

*/