body {
    /* http://www.colorhunter.com/tag/newspaper/1 */
    background-color: #E0DFD3;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

#root {
        display: grid;
        grid-template-areas:
        "navContainer navContainer navContainer"
        "titleContainer titleContainer titleContainer"
        "interests parent saved"
        "interests parent saved";
        grid-template-columns: 1fr 2fr 1fr;
        width: 100%;
}

.parent {
    grid-area: parent;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #C3C1B4;
    align-self: center;
    padding: 0 5rem;
}

.navContainer {
    grid-area: navContainer;
    padding-bottom: 1rem;
    border-bottom: 1px solid #C3C1B4;
}

.titleContainer {
    grid-area: titleContainer;
}

.interests {
    grid-area: interests;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saved {
    grid-area: saved;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.content-container {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
    background-color: #D9D7C9;
    /* border: 1px solid #C3C1B4; */
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 1rem 1rem;
    overflow: hidden;
}

/* 
content 
    div 
    (
        div className="container"
        (
            article 
            (
                div className="content article"
                (
                    h2
                    img
                    p
                )

            )
            gif 
            (
                div className="content gif"
                (
                    img
                    a
                )
            )
        )
    )

*/