body {
    /* max-width: 75%; */
}

.parent {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .content {
} */

.article {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ACAA9D;
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 1rem 1rem;
    box-shadow: 0px 0px 25px 5px #ab8860, inset 0px 0px 10px 7px #acaa9d
}

.gif {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ACAA9D;
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 1rem 1rem;
    box-shadow: 0px 0px 25px 5px #ab8860, inset 0px 0px 10px 7px #acaa9d
}



/* 
content 
    div 
    (
        div className="container"
        (
            article 
            (
                div className="content article"
                (
                    h2
                    img
                    p
                )

            )
            gif 
            (
                div className="content gif"
                (
                    img
                    a
                )
            )
        )
    )

*/