/* 
    navbar links
    interests
*/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar li {
    list-style: none;
    font-family: sans-serif;
    letter-spacing: .03125rem;
}

.navbar li a {
    font-size: 1rem;
}

.authLink {
    letter-spacing: .03125rem;
    color: #416894;
}

.demoBtn {
    color: #416894;
    font-size: 1rem;
}

.navbar li:hover {
    cursor: pointer;
    text-decoration: underline;
    /* font-weight: bolder;
    color: #4b256b; */
}

.demoBtn:hover {
    cursor: pointer;
    text-decoration: underline;
    /* font-weight: bolder;
    color: #4b256b; */
}

/* .interests {

} */