/* 
    navbar links
    interests
*/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar li {
    list-style: none;
}

.demoBtn {
    color: #7E3EB3;
}

.demoBtn:hover {
    cursor: pointer;
}

/* .interests {

} */