/* 
    navbar links
    interests
*/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar li {
    list-style: none;
}

/* .interests {

} */