.weatherParent {
    max-width: 100%;
    height: 500px;
}

.weatherContainer {
    max-height: 100%;
    border-radius: 1rem;
    display: grid;
    background-color: #ADACA0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "today today today today today today today"
    /* "today today today today today today today" */
    "weekDay weekDay weekDay weekDay weekDay weekDay weekDay";
}

.weatherToday {
    grid-area: today;    
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-self: center;
    padding-top: 2rem;
}

.city {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.cityName {
    color: #2D2D2B;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: larger;
    
}

.currentTemp {
    margin: 0 auto;
    margin-bottom: 2rem;
}

.todayImage {
    margin: 0 auto;
    max-width: 33%;
}

.todayDescription {
    align-self: center;
    letter-spacing: 1px;
}

.weatherWeek {
    /* grid-area: weekDay; */    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* align-content: flex-end; */
    max-width: 100%;
    padding-bottom: 2rem;
    
}

.weekImage {
    color: white;
    margin-bottom: -1rem;
}

.day {
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: smaller;
}

.dayHigh {
    color: black;
    letter-spacing: 2px;
    font-weight: bolder;
    margin-bottom: -1rem;
}

.dayLow {
    color: white;
    letter-spacing: 2px;
    font-weight: bolder;
}