.weatherParent {
    max-width: 100%;
    height: 500px;
}

.weatherContainer {
    max-height: 90%;
    border-radius: .25rem;
    display: grid;
    background-color: #cccbc1;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr .5fr 1fr;
    grid-template-areas: 
    "today today today today today today today"
    "todayInner todayInner todayInner todayInner todayImg todayImg todayImg"
    "weekDay weekDay weekDay weekDay weekDay weekDay weekDay";
}

.weatherToday {
    grid-area: today;    
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-self: flex-start;
    padding-top: .5rem;
}

.city {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    padding-left: 1rem;
}

.cityName {
    /* color: #2D2D2B; */
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: larger;
    border-bottom: 1px solid #c3c1b4;
    padding-bottom: 1rem;
    
}

.currentTemp {
    margin: 0 auto;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    color: #323232;
}

.todayImage {
    grid-area: todayImg;
    margin-top: -3rem;
    margin-left: 3rem;
}

.weekImage {
    color: white;
    margin-bottom: -1rem;
    max-width: 90%;
}

.todayDescription {
    align-self: center;
    margin-top: -1rem;
    font-weight: 500;
    letter-spacing: .03125;
    
}

.weatherWeek {
    /* grid-area: weekDay; */    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* align-content: flex-end; */
    max-width: 100%;
    padding-bottom: .5rem;
    margin-top: -1rem;
}

.day {
    color: #323232;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: smaller;
    padding-left: .25rem;
    margin-bottom: -.25rem;
}

.dayHigh {
    color: black;
    letter-spacing: 2px;
    font-weight: bolder;
    margin-bottom: -1rem;
    font-size: .8rem;
    padding-bottom: .5rem;
}

.dayLow {
    color: #323232;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: .8rem;
}

.todayDivOuter {
    display: flex;
    flex-direction: row;
}

.todayDivInner {
    grid-area: todayInner;
    padding-left: 1rem;
    margin-top: -1rem;
}