.weatherContainer {
    border: 1px solid black !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "today today today today today today today"
    "weekDay weekDay weekDay weekDay weekDay weekDay weekDay";
}

.weatherToday {
    grid-area: today;
    border: 1px dotted black;
    display: flex;
    max-width: 50%;
}

.city {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.weatherWeek {
    /* grid-area: weekDay; */
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* align-content: flex-end; */
    max-width: 100%;
    
}

.weatherParent {
    max-width: 50%;
}

.weekImage {
    color: white;
}

.day {
    color: white;
}

.dayHigh {
    color: white;
}

.dayLow {
    color: white;
}