h2 {
    /* font-size: 16px;
    color: #7e3eb3; */
}

img { 
    max-width: 66%;
}

a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.gifTitle {
    text-decoration: none;
    color: #416894;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 1rem;
    padding: 0 2rem;
}

.gifSource {
    text-decoration: none;
    color: #416894;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-size: .75rem;
    padding: 0 2rem;
    padding-top: .5rem;
    font-weight: 300;
}

.gifTitle:hover {
    /* font-size: larger; */
    /* color: #8a51ba; */
    text-decoration: underline;
}

.gifSource:hover {
    text-decoration: underline;
}